In [37]:
import pandas as pd

In [44]:
dados = pd.read_csv("ocorrencia_2010_2020.csv", ";")
dados.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,03/01/2010,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,03/01/2010,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,03/01/2010,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,04/01/2010,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,05/01/2010,19:25:00,0

In [40]:
ls

 O volume na unidade F ‚ sysadmin
 O N£mero de S‚rie do Volume ‚ 809C-A7CE

 Pasta de F:\digitalinnovation\engenheiro_de_dados\ETL

13/07/2021  17:46    <DIR>          .
13/07/2021  17:46    <DIR>          ..
13/07/2021  17:40    <DIR>          .ipynb_checkpoints
13/07/2021  16:03           858.233 ocorrencia_2010_2020.csv
13/07/2021  17:46             9.158 ocorrencias_aeronauticas.ipynb
               2 arquivo(s)        867.391 bytes
               3 pasta(s)   29.071.339.520 bytes dispon¡veis

TypeError: 'str' object cannot be interpreted as an integer